<div class="container-fluid" ng-controller="FieldCtrl">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Field {{field.title}}</h1>
    </div>
  </div>
  <div class="row">
    <div class="alert alert-success alert-dismissable" ng-if="successMessage">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      {{successMessage}}
    </div>
    <div class="alert alert-danger alert-dismissable" ng-if="errorMessage">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      {{errorMessage}}
    </div>
  </div>
  <div class="row" ng-show="!editMode">
    <div class="panel panel-default">
      <div class="panel-heading">
        Field
      </div>
      <div class="panel-body">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Attribute</th>
              <th>Value</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Title</td>
              <td>{{field.title}}</td>
            </tr>
            <tr>
              <td>Help</td>
              <td>{{field.help}}</td>
            </tr>
            <tr>
              <td>Default Value</td>
              <td>{{field.defaultValue}}</td>
            </tr>
            <tr>
              <td>Sequence</td>
              <td>{{field.sequence}}</td>
            </tr>
            <tr>
              <td>Size</td>
              <td>{{field.size}}</td>
            </tr>
            <tr>
              <td>Multiple</td>
              <td>{{field.multiple}}</td>
            </tr>
            <tr>
              <td>Mandatory</td>
              <td>{{field.mandatory}}</td>
            </tr>
            <tr>
              <td>Presentation</td>
              <td>{{field.presentation}}</td>
            </tr>
            <tr>
              <td>Field Type</td>
              <td>{{field.fieldType.value}}</td>
            </tr>
          </tbody>
        </table>
        <button type="button" ng-click="toggleEditMode()" class="btn btn-primary">Edit</button>
        <button type="button" class="btn btn-default" ui-sref="main.library({libraryId: {{libraryId}}})">Back</button>
      </div>
    </div>
  </div>
  <div class="row" ng-show="editMode">
    <div class="panel panel-default">
      <div class="panel-heading">
        Field
      </div>
      <div class="panel-body">
        <form role="form" class="ng-pristine ng-valid" ng-submit="submit()">
          <div class="form-group">
            <label>Title</label>
            <input type="text" required="true" class="form-control" ng-model="field.title" />
          </div>
          <div class="form-group">
            <label>Help</label>
            <input type="text" class="form-control" ng-model="field.help" />
          </div>
          <div class="form-group">
            <label>Default Value</label>
            <input type="text" class="form-control" ng-model="field.defaulValue" />
          </div>
          <div class="form-group">
            <label>Sequence</label>
            <input type="number" required="true" class="form-control" ng-model="field.sequence" />
          </div>
          <div class="form-group">
            <label>Size</label>
            <input type="number" class="form-control" ng-model="field.size" />
          </div>
          <div class="form-group">
            <label>Multiple</label>
            <input type="checkbox" class="form-control" ng-model="field.multiple" />
          </div>
          <div class="form-group">
            <label>Mandatory</label>
            <input type="checkbox" class="form-control" ng-model="field.mandatory" />
          </div>
          <div class="form-group">
            <label>Presentation</label>
            <input type="checkbox" class="form-control" ng-model="field.presentation" />
          </div>
          <div class="form-group">
            <label>Field Type</label>
            <select class="form-control" required="true" ng-model="field.fieldType">
              <option value="">-- Please select --</option>
              <option ng-repeat="type in fieldTypes" value="{{type._links.self.href}}">{{type.value}}</option>
            </select>
          </div>
          <button type="submit" class="btn btn-primary">Save</button>
          <button type="button" class="btn btn-default" ui-sref="main.home" ng-show="!field.id">Cancel</button>
          <button type="button" class="btn btn-default" ng-click="toggleEditMode()" ng-show="field.id">Cancel</button>
        </form>
      </div>
    </div>
  </div>
</div>