<div class="container-fluid" ng-controller="RecordCtrl">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Record</h1>
    </div>
  </div>
  <div class="row">
    <div class="alert alert-success alert-dismissable" ng-if="successMessage">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      {{successMessage}}
    </div>
    <div class="alert alert-danger alert-dismissable" ng-if="errorMessage">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      {{errorMessage}}
    </div>
  </div>
  <div class="row" ng-show="!editMode">
    <div class="panel panel-default">
      <div class="panel-heading">
        Record
      </div>
      <div class="panel-body">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Field</th>
              <th>Value</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="content in contents">
              <td>{{content.field.title}}</td>
              <td>
                <div ng-switch="content.field.fieldType.key">
                  <div ng-repeat="value in content.values" ng-switch-when="STRING">
                    {{value.value}}
                  </div>
                  <div ng-repeat="value in content.values" ng-switch-when="DATE">
                    {{value.value | date:'MM/dd/yyyy'}}
                  </div>
                  <div ng-repeat="value in content.values" ng-switch-when="NUMERIC">
                    {{value.value | number:2}}
                  </div>
                  <div ng-repeat="value in content.values" ng-switch-when="IMAGE">
                    <a ng-href="http://localhost:8080/download{{value.path}}" target="_blank">
                      <img ng-src="http://localhost:8080/download{{value.path}}" alt="{{value.originalName}}" />
                    </a>
                  </div>
                  <div ng-repeat="value in content.values" ng-switch-when="AUDIO">
                    <audio ng-src="{{trustUrl(value.path)}}" controls />
                  </div>
                  <div ng-repeat="value in content.values" ng-switch-when="VIDEO">
                    <video ng-src="{{trustUrl(value.path)}}" controls />
                  </div>
                  <div ng-repeat="value in content.values" ng-switch-default>
                    <a ng-href="http://localhost:8080/download{{value.path}}" target="_blank">{{value.originalName}}</a>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        <button type="button" ng-click="toggleEditMode()" class="btn btn-primary">Edit</button>
        <button type="button" class="btn btn-default" ui-sref="main.library({libraryId: {{libraryId}}})">Back</button>
      </div>
    </div>
  </div>
  <div class="row" ng-show="editMode">
    <div class="panel panel-default">
      <div class="panel-heading">
        Record
      </div>
      <div class="panel-body">
        <form role="form" class="ng-pristine ng-valid" ng-submit="submit()">
          <div class="form-group" ng-init="initContents(fields)" ng-repeat="field in fields">
            <label>{{field.title}}</label>
            <div ng-repeat="value in contents[$index].values">
              <div ng-class="{'input-group': field.multiple}" ng-switch="field.fieldType.key">
                <input type="text" ng-required="field.mandatory" tooltip="{{field.help}}" tooltip-placement="top" maxlength="{{field.size}}" class="form-control" ng-model="value.value" ng-switch-when="STRING"/>
                <input type="date" ng-required="field.mandatory" tooltip="{{field.help}}" tooltip-placement="top" class="form-control" ng-model="value.value" ng-switch-when="DATE" format-date/>
                <input type="number" ng-required="field.mandatory" tooltip="{{field.help}}" tooltip-placement="top" maxlength="{{field.size}}" class="form-control" ng-model="value.value" ng-switch-when="NUMERIC"/>
                <input type="file" ng-required="field.mandatory" tooltip="{{field.help}}" tooltip-placement="top" class="form-control" ng-model="value.file" accept="{{getMIME(field.fieldType.key)}}" ng-switch-default ngf-select="uploadFile(value)"/>
                <span class="input-group-btn" ng-show="field.multiple"> 
                  <button type="button" class="btn btn-default" ng-click="addValue(contents[$parent.$index])" ng-show="field.multiple">+</button>
                  <button type="button" class="btn btn-default" ng-click="removeValue(contents[$parent.$index], $index)" ng-show="field.multiple && $index > 0">-</button>
                </span>
              </div>
            </div>
          </div>
          <button type="submit" class="btn btn-primary">Save</button>
          <button type="button" class="btn btn-default" ui-sref="main.home">Cancel</button>
        </form>
      </div>
    </div>
  </div>
</div>